@model OrganizadorPOs.ViewModels.HomeViewModel;


@{
    ViewData["Title"] = "Home Page";
}

<form method="get" action="Home">
    <div class="row">

        <div class="form-group col-6 my-2">
            <label for="ProjetoId"><b>Projeto</b></label>
            <input name="projeto" type="text" class="form-control" id="ProjetoId" placeholder="Projeto" value="@Model?.Filtro?.Projeto">
        </div>

        <div class="form-group col-6 my-2">
            <label for="tipoId"><b>Tipo</b></label>
            <input name="tipo" class="form-control" id="tipoId" list="tipos" autocomplete="off">
            <datalist id="tipos">
                @if (ViewBag.Tipos != null && ((IEnumerable<string>)ViewBag.Tipos).Any())
                    foreach (string tipo in ViewBag.Tipos)
                    {
                        <option value="@tipo"></option>
                    }
            </datalist>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-6 my-2">
            <label for="FeitoId"><b>Feito Em</b> </label>
            <div id="FeitoId" class="row">
                <div class="col-6">
                    <label for="feitoEmMin">De</label>
                    <input name="feitoEmMin" type="date" class="form-control" id="feitoEmMin" value=@Model?.Filtro?.FeitoEmMin?.ToString("yyyy-MM-dd")>
                </div>
                <div class="col-6">
                    <label for="feitoEmMax">Até</label>
                    <input name="feitoEmMax" type="date" class="form-control" id="feitoEmMax" value=@Model?.Filtro?.FeitoEmMax?.ToString("yyyy-MM-dd")>
                </div>
            </div>
        </div>

        <div class="form-group col-6 my-2">
            <label for="RecebidaId"><b>Recebida Em</b></label>
            <div id="RecebidaId" class="row">
                <div class="col-6">
                    <label for="recebidaEmMin">De</label>
                    <input name="recebidaEmMin" type="date" class="form-control" id="recebidaEmMin" value=@Model?.Filtro?.RecebidaEmMin?.ToString("yyyy-MM-dd")>
                </div>
                <div class="col-6">
                    <label for="recebidaEmMax">Até</label>
                    <input name="recebidaEmMax" type="date" class="form-control" id="recebidaEmMax" value=@Model?.Filtro?.RecebidaEmMax?.ToString("yyyy-MM-dd")>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-3 my-2">
            <label for="nfId"><b>Status</b></label>
            <select name="status" class="form-select" id="nfId" aria-label="Default select example" asp-items="ViewBag.StatusOptions">
            </select>
        </div>

        <div class="form-group col-3 my-2">
            <label for="nfId"><b>Nota Fiscal</b></label>
            <select name="nf" class="form-select" id="nfId" aria-label="Default select example" asp-items="ViewBag.NfOptions">
            </select>
        </div>

        <div class="form-group col-3 my-2">
            <label for="pagamentoRecebidoId"><b>Pagamento</b></label>
            <select name=pagamento class="form-select" id="pagamentoRecebidoId" aria-label="Default select example" asp-items="ViewBag.PagamentoOptions">
            </select>
        </div>

        <div class="form-group col-3 my-2">
            <label for="ativadoDesativado"><b>Ativado/Desativado</b></label>
            <select name="ativadoDesativado" class="form-select" id="ativadoDesativado" aria-label="Default select example" asp-items="ViewBag.AtivadoDesativadoOptions">
            </select>
        </div>
    </div>


    <button type="button" class="btn btn-primary my-3 col-2" onclick="submitPersonalizado()">Pesquisar</button>
    <button type="button" class="btn btn-outline-primary my-3 col-2" onclick="limparFiltros()">Limpar Filtros</button>

    <input type="hidden" id="gerar-excel" name="gerarExcel" />
</form>


<table class="table">
    <thead>
        <tr>
            <th scope="col" id="headerColunaSelecionar" class="invisible-checkbox colunaSelecionar">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" onclick="marcarDesmarcarTudo(this)" value="0">
                </div>
            </th>
            <th scope="col">PROJETO</th>
            <th scope="col">TIPO</th>
            <th scope="col">WWC</th>
            <th scope="col">HORAS</th>
            <th scope="col">VALOR (R$)</th>
            <th scope="col" onclick="organizarPorData(this)" id="organizadorFeitoEm" class="pointer">FEITO EM</th>
            <th scope="col" onclick="organizarPorNumero(this)" id="organizadorPO" class="pointer">PO</th>
            <th scope="col">VALOR PO (R$)</th>
            <th scope="col">STATUS</th>
            <th scope="col" onclick="organizarPorData(this)" id="organizadorRecebidaEm" class="pointer">RECEBIDA EM</th>
            <th scope="col">NOTA FISCAL</th>
            <th scope="col">PAGAMENTO</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
    <tbody id="tbdy">
        @if (Model != null && Model.Registros != null && Model.Registros.Any())
            @foreach (var item in Model.Registros)
            {
                <tr class="tr-dinamica @(item.DataExclusao == null ? "" : "bg-light  text-secondary")">
                    <td class="invisible-checkbox colunaSelecionar">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@item.Id" id="flexCheckDefault">
                        </div>
                    </td>
                    <th scope="row">@item.Projeto</th>
                    <td>@item.Tipo</td>
                    <td>@item.WWC</td>
                    <td>@item.HORAS</td>
                    <td class="@(item.Valor == item.ValorPO ? "" : "text-danger")">@item.Valor</td>
                    <td class="organizadorFeitoEm">@(item.FeitoEm == DateTime.MinValue ? "" : item?.FeitoEm?.ToShortDateString())</td>
                    <td class="organizadorPO">@item.PO</td>
                    <td class="@(item.Valor == item.ValorPO ? "" : "text-danger")">@item.ValorPO</td>
                    <td>@(item.Status ? "Recebido" : "Pendente")</td>
                    <td class="organizadorRecebidaEm">@(item.RecebidaEm == DateTime.MinValue ? "" : item?.RecebidaEm?.ToShortDateString())</td>
                    <td>@(item.EmitiuNotaFiscal ? "Emitida" : "Pendente")</td>
                    <td>@(item.PagamentoRecebido ? "Pago" : "Pendente")</td>
                    <td>
                        <a asp-action="AdicionarEditar" asp-route-id="@item.Id"><i class='bx bx-edit-alt'></i></a>
                        <a asp-action="DesativarAtivar" asp-route-id="@item.Id"><i class='bx bx-power-off'></i></a>
                    </td>
                </tr>
            }


    </tbody>

</table>
<table class="table">
    <tr>
        <td colspan="6"><b>Valor Total</b>: @Model?.ValorTotal</td>
        <td colspan="6"><b>Valor PO Total</b>: @Model?.ValorPOTotal</td>
    </tr>
</table>

<button type="button" class="btn btn-outline-primary" onclick="ativarSelecao()">Selecionar</button>
<a asp-action="AdicionarEditar" class="btn btn-primary" role="button">Adicionar</a>
<button type="button" class="btn btn-outline-primary invisible-checkbox colunaSelecionar" onclick="excluirEmMassa()"><i class='bx bx-power-off'></i></button>
<button type="button" id="botao-excel"class="btn btn-outline-primary" onclick="baixarExcel()"><i class='bx bx-spreadsheet' ></i></i></button>

@section Scripts{
<script src="@Url.Content("~/js/crud.js")"></script>
}